@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url(./css/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --nexa-light: 'nexa-light', sans-serif;
    --nexa-bold: 'nexa-bold', sans-serif;
    --akira: 'akira', sans-serif;
    --integral-regular: 'integral-regular', sans-serif;
    --integral-bold: 'integral-bold', sans-serif;
    --raleway: 'Raleway', sans-serif;

    /* colors */

    --main-orange: #FFAB2C;
    --black: #141414; /* background color */
    --white: #ffffff;
    --gray: #BABABA;
    --dark-gray: #292929;
    --very-dark-gray: #313131;
}

.wrapper{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 50px;
}

body{
    background-color: var(--black);
    color: var(--white);
    font-family: var(--raleway);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white);
}

.btn{
    display: inline-block;
    padding: 15px 22px;
    background-color: var(--main-orange);
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem; /* 20px */
}

.btn2{
    display: inline-block;
    padding: 15px 22px;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem; /* 20px */
    background-image: url(./images/btn-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    display: inline-block;
    color: var(--gray);
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}

section {
    padding: 100px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 100px;
}

.section-header h2{
    font-size: 65px;
    font-family: var(--integral-bold);
    letter-spacing: 1px;
}

.section-header h2 span{
    color: var(--main-orange);
}

.section-header p{
    font-size: 25px;
    font-family: var(--nexa-light);
    opacity: 0.7;
    margin-top: 20px;
}

/* ------- header ------- */

header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: var(--black);
    --webkit-filter:blur(20px);
    z-index: 10;
}

header .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header .logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

header .header .logo svg{
    margin-right: 5px;
}

header .header .logo span{
    color: var(--main-orange);
}

header .header ul li{
    display: inline-block;
    margin: 0 15px;
}

header .header ul li a{
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    color: var(--white);
    text-transform: capitalize;
}

header .header .bar-btns i{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* ---x--- header ---x--- */

/* ------- hero ------- */

.hero{
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .content{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(7vh);
}

.hero .content h1 {
    font-size: 66px;
    text-transform: uppercase;
    font-family: var(--integral-bold);
    letter-spacing: 1px;
}

.hero .content h1 span{
    font-size: 100px;
    font-family: var(--akira);
    color: var(--main-orange);
}

.hero .content p{
    font-size: 25px;
    opacity: 0.7;
}

.hero .content .btn-box{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .content .btn-box .btn2{
    padding: 22px 50px;
}

.hero .content .btn-box .btn2 i{
    margin-left: 10px;
    font-size: 16px;
}

/* ---x--- hero ---x--- */

/* --------- section 2 --------- */

.section-2 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 300px 0;
}

.section-2 .content img{
    width: 250px;
}

.section-2 .content .item{
    width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%, -50%);
}

.section-2 .content .item:nth-child(2){
    top: 30%;
    left: calc(100% - 350px);
}

.section-2 .content .item:nth-child(3){
    top: 70%;
    left: calc(100% - 350px);
}

.section-2 .content .item:nth-child(4){
    top: calc(100% - 100px);
    left: 50%;
    flex-direction: column;
}
.section-2 .content .item:nth-child(4) img{
    margin-bottom: 30px;
}

.section-2 .content .item:nth-child(5){
    top: 70%;
    left: calc(0% + 350px);
    flex-direction: row-reverse;
}

.section-2 .content .item:nth-child(6){
    top: 30%;
    left: calc(0% + 350px);
    flex-direction: row-reverse;
}
.section-2 .content .item:nth-child(6) img{
    width: 25px;
}

.section-2 .content .item:nth-child(7){
    top: calc(0% + 100px);
    left: 50%;
    flex-direction: column-reverse;
}
.section-2 .content .item:nth-child(7) img{
    margin-top: 30px;
}

.section-2 .content .item img{
    width: 40px;
}

.section-2 .content .item .text{
    width: 250px;
}

.section-2 .content .item .text h6{
    color: var(--main-orange);
    font-size: 20px;
    font-weight: 800;
}

.section-2 .content .item .text p{
    opacity: 0.7;
    font-weight: 300;
}

.section-2 .content .item .text p span{
    opacity: 1;
    font-weight: 700;
}

/* ----x---- section 2 ----x---- */

/* --------- section 3 --------- */

.section-3{
    background-color: var(--main-orange);
    background-image: url(./images/section-3-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.section-3::before,
.section-3::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
}
.section-3::before{
    top: 0;
    border-top: 200px solid var(--black);
    border-right: 100vw solid transparent;
}
.section-3::after{
    top: 100%;
    border-bottom: 200px solid var(--black);
    border-right: 100vw solid transparent;
    transform: translateY(-100%);
}

.section-3 .section-header h2 {
    color: var(--black);
}
.section-3 .section-header h2 span{
    color: var(--white);
}

.section-3 .section-header p{
    color: var(--black);
}
.section-3 .section-header p span{
    font-family: var(--nexa-bold);
}

.section-3 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}

.section-3 .content .item{
    width: 300px;
    color: var(--black);
}

.section-3 .content .item span{
    font-family: var(--integral-regular);
    font-size: 50px;
}

.section-3 .content .item .img-box{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .content .item .img-box img{
    width: 130px;
}

.section-3 .content .item .text{
    text-align: center;
    margin: 50px 0;
}

.section-3 .content .item .text p{
    font-family: var(--nexa-bold);
    font-size: 25px;
}

.section-3 .content .item .text a{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.section-3 .content .item .text a i{
    margin-left: 10px;
}

.btn3{
    display: inline-block;
    padding: 20px 30px;
    background-color: var(--black);
    color: var(--main-orange);
    border-radius: 10px;
}

/* ----x---- section 3 ----x---- */

/* --------- section 4 --------- */

.section-4 .content{
    border: 2px solid var(--main-orange);
    border-radius: 10px;
    padding: 0 20px;
}

.section-4 .content .payment{
    display: flex;
    justify-content: space-between;
    transform: translateY(-20px);
}

.section-4 .content .payment .method{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-4 .content .payment .method p{
    font-family: var(--nexa-bold);
    font-size: 20px;
    text-align: center;
}

.section-4 .content .payment .method .fee{
    font-family: var(--nexa-light);
    color: #B8B8B8;
    margin-top: 20px;
    font-size: 14px;
}

.section-4 .content .payment .method .choose {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 7px;
    background-color: var(--dark-gray);
    border-radius: 50px;
}

.section-4 .content .payment .method .choose p{
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}
.section-4 .content .payment .method .choose p.active{
    background-color: #1C1C1C;
    color: var(--main-orange);
}


.section-4 .content .payment .item-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-4 .content .payment .item-box .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.section-4 .content .payment .item-box .item.active{
    background-color: var(--main-orange);
    color: var(--very-dark-gray);
    padding: 50px 20px 20px 20px;
}

.section-4 .content .payment .item-box .item p{
    font-family: var(--nexa-bold);
    font-size: 25px;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.section-4 .content .payment .item-box .item p::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-orange);
}

.section-4 .content .payment .item-box .item.active p::after{
    background-color: var(--very-dark-gray);
}

.section-4 .content .payment .item-box .item span{
    font-size: 50px;
    font-family: var(--nexa-bold);
}

.section-4 .content .payment .item-box .item .btn2{
    margin: 30px 0;
    font-family: var(--nexa-bold);
}

.section-4 .content .payment .item-box .item.active .btn2{
    background-image: none;
    background-color: var(--very-dark-gray);
    color: var(--main-orange);
}


.section-4 .content table{
    margin: 50px 0;
    width: 100%;
    border-spacing: 25px;
}

.section-4 .content table tr{
    position: relative;
}

.section-4 .content table tr td{
    font-size: 22px;
    font-family: var(--nexa-bold);
    color: #9D9D9D;
    padding: 20px;
}

.section-4 .content table tr:nth-child(1)::after,
.section-4 .content table tr:nth-child(2)::after,
.section-4 .content table tr:nth-child(3)::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #272727;
}

.section-4 .content table tr td:nth-child(2),
.section-4 .content table tr td:nth-child(3),
.section-4 .content table tr td:nth-child(4){
    text-align: center;
    color: var(--white);
}

/* ----x---- section 4 ----x---- */

/* --------- section 5 --------- */

.section-5 .content{
    padding: 0 50px;
}

.section-5 .content .item{
    margin: 50px 0;
}

.section-5 .content .item .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section-5 .content .item .title p{
    font-family: var(--nexa-bold);
    font-size: 25px;
}

.section-5 .content .item .title .buttons{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.section-5 .content .item .title .buttons svg{
    display: none;
}

.section-5 .content .item .title .buttons svg.show{
    display: block;
}

.section-5 .content .item .dropdown-content{
    padding-right: 40px;
    margin-top: 20px;
    display: none;
}

.section-5 .content .item .dropdown-content.show{
    display: block;
}

.section-5 .content .item .dropdown-content p{
    font-family: var(--nexa-light);
    font-size: 23px;
    color: #E1E1E1;
    opacity: 0.7;
}

/* ----x---- section 5 ----x---- */

/* --------- footer --------- */

footer{
    background-color: var(--main-orange);
    position: relative;
}

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 220px solid var(--black);
    border-left: 100vw solid transparent;
}

footer .top-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 -1px 10px 0 var(--black);
    background-color: var(--main-orange);
    position: relative;
    z-index: 1;
}

footer .top-content .part{
    padding: 50px 0;
}

footer .top-content .part:nth-child(1){
    background-image: url(./images/circles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
}
footer .top-content .part:nth-child(2){
    padding-right: 100px;
}

footer .top-content .part p{
    font-family: var(--nexa-bold);
    font-size: 45px;
    margin-bottom: 30px;
}

footer .top-content .part .btn3{
    font-family: var(--nexa-bold);
    font-size: 25px;
    text-transform: capitalize;
}

footer .top-content .part img{
    width: 100%;
}

footer .content {
    margin: 50px 0 0;
    padding: 100px 0 0;
    text-align: center;
}

footer .content  ul{
    margin: 20px 0;
}

footer .content  ul li{
    display: inline-block;
    position: relative;
    padding: 0 25px;
}

footer .content  ul li a{
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--black);
}

footer .content  ul:nth-child(1) li:nth-child(1)::after,
footer .content  ul:nth-child(1) li:nth-child(2)::after,
footer .content  ul:nth-child(1) li:nth-child(3)::after,
footer .content  ul:nth-child(2) li:nth-child(1)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: var(--black);
}

footer .content .scroll-up{
    width: 80px;
    border: 1px solid var(--black);
    border-radius: 100%;
    padding: 25px 20px;
    margin: 50px auto 0 auto;
    cursor: pointer;
}

footer .content .copyright{
    color: var(--black);
    margin-top: 50px;
}

/* ----x---- footer ----x---- */

/* responsive media */

@media screen and (max-width: 1440px) {

    /* --------- section 2 --------- */

    .section-2 .content .item:nth-child(2){
        left: calc(100% - 250px);
    }
    .section-2 .content .item:nth-child(3){
        top: 70%;
        left: calc(100% - 250px);
    }
    .section-2 .content .item:nth-child(5){
        top: 70%;
        left: calc(0% + 250px);
        flex-direction: row-reverse;
    }
    .section-2 .content .item:nth-child(6){
        top: 30%;
        left: calc(0% + 250px);
        flex-direction: row-reverse;
    }

    /* ----x---- section 2 ----x---- */

    /* --------- section 3 --------- */

    .section-3 .content{
        width: 800px;
    }

    /* ----x---- section 3 ----x---- */

    /* --------- section 4 --------- */

    .section-4 .content .payment .item-box{
        justify-content: space-evenly;
    }

    .section-4 .content .payment .item-box .item{
        width: 250px;
    }

    /* ----x---- section 4 ----x---- */
}

@media screen and (max-width: 1240px){

    /* --------- section 2 --------- */

    .section-2 .content .item:nth-child(2){
        left: calc(100% - 200px);
    }
    .section-2 .content .item:nth-child(3){
        top: 70%;
        left: calc(100% - 200px);
    }
    .section-2 .content .item:nth-child(5){
        top: 70%;
        left: calc(0% + 200px);
        flex-direction: row-reverse;
    }
    .section-2 .content .item:nth-child(6){
        top: 30%;
        left: calc(0% + 200px);
        flex-direction: row-reverse;
    }
    
    /* ----x---- section 2 ----x---- */

    /* --------- section 3 --------- */

    .section-3 .content{
        width: 700px;
    }

    /* ----x---- section 3 ----x---- */

    /* --------- section 4 --------- */

    .section-4 .content .payment {
        transform: translate(0);
        flex-direction: column;
    }
    .section-4 .content .payment .method{
        margin: 50px auto;
    }

    /* ----x---- section 4 ----x---- */

    /* --------- footer --------- */

    footer .top-content .part:nth-child(1){
        padding-left: 50px;
    }
    footer .top-content .part:nth-child(2){
        padding-right: 50px;
    }

    /* ----x---- footer ----x---- */

}

@media screen and (max-width: 1080px){
    header .header ul {
        display: block;
    }

    header .header ul {
        width: 500px;
        min-height: 100vh;
        position: absolute;
        top: 7vh;
        left: calc(100% + 500px);
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black);
        transition: all 0.3s;
        padding: 50px 0;
    }

    header .header ul li{
        margin: 25px 0;
    }

    header .header ul.show{
        display: flex;
        left: calc(100% - 500px);
    }

    #open{
        position: relative;
        display: block;
        z-index: 20;
    }
    #open.close{
        position: relative;
        display: none;
        z-index: 20;
    }
    #close.show{
        display: block;
    }
}